/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#inicio {
    width: 50px;
    height: 30px;
    color: whitesmoke;
    background-color: rgb(6, 62, 62);
    border: solid white 2px;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

#inicio:hover {
    background-color: rgba(6, 62, 62, 0.744);
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilos del formulario */
.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.comment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    height: 80px;
}

.comment-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* Estilos de la caja de comentarios */
#comments-box {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border: 1px solid #00000026;
    margin-top: 5px;
}

.person-icon {
    text-align: center;
    font-size: x-large;
    color: #c8bdbdcc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000e3;
}

.comment-content {
    flex: 1;
}

.comment-content .comment-author {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
}

.comment-content p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.comment-content small {
    font-size: 12px;
    color: #777;
}

.delete-btn {
    height: 30px;
    width: 30px;
    text-align: center;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 16px;
    color: #ee8181;
}

.delete-btn:hover {
    color: red;
}